bgm/*
stage/*
!stage/pCYSl5EDgo_*.map
chip/*
!chip/braver.png
!chip/zzz_u_pike.png
!chip/zzz_u_summon.png
!chip/ChestTableMan.png
!chip/DragoonMan.png
!chip/chip_l_inf_sn.png
!chip/ra_1_2.png
!chip/u*_*.png
chip2/*
!chip2/shining.png
face/*
!face/Adjutant*.png
!face/DragoonMan.png
flag/*
!flag/flagUN.bmp
icon/*
!icon/sphere.png
image/*
!image/win_special_world.png
!image/kokusakum1.png
!image/kokusakum2.png
!image/kokusakum3.png
!image/kokusakum4.png
!image/kokusakum5.png
script/.vscode/*
script/*/*.zip
sound/*
*.sav
.vscode/settings.json
